@media screen and (max-width:800px){
    .trabajos{
        .imagenes{
            img{
                width:33%;
            }
        }
    }
}


@media screen and (max-width:715px){
    header{
        nav{
            ul{
                li{
                    margin: 5px 30px;
                }
            }
        }
    }
}


@media screen and (max-width:500px){
    .trabajos{
        .imagenes{
            img{
                width:50%;
            }
        }
    }
}


@media screen and (max-width:400px){
    header{
        nav{
            ul{
                li{
                    margin: 5px 10px;
                }
            }
        }
    }
}
